* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.left-nav a {
    text-decoration: none;
    color: black;
}


.middle-nav a {
    padding: 10px;
    font-size: 25px;
    
    text-decoration: none;
}

@media (max-width:900px) {

    .nav-bar {
        /* background-color: red; */
       
    }

    /* ..................left nav...................... */


    .left-nav {
        padding: 25px;
        font-size: 25px;
    }


    /* ..................middle nav...................... */

    .middle-nav {
        display: none;
    }


    /* ..................right nav...................... */
    .right-nav {
        /* background-color: greenyellow; */
        padding: 5px;
    }

    .detail-icon {
        width: 54px;
        height: 54px;

    }


    .detail-icon img {
        width: 44px;
        height: 44px;

    }

    .close-icon {
        display: none;
    }













    .middle-Nav{
        position: absolute;
        top: 103px;
      left: 133px;
/* padding-top: 40px; */
   
    }
    .middle-Nav a{
        display: flex;
        font-size: 35px;
padding-top: 50px;
        flex-direction: column;
        text-decoration: none;
    }











    /* ...............main-area.............. --> */
  
  
  .main2{
    display: none;
    background-color: red;
  }
  
    .image-area{
        /* background-color: yellow; */

    }
  
  
  
  
  
  
    .image-border {
        /* background-color: yellow; */
        width: 271px;
        border-radius: 50%;
        height: 275px;
        margin: 15% 15%;
    }

    .image-border  img{
        width: 271px;
        border-radius: 50%;
        height: 275px;
   object-fit: contain;
    }















    .person-detail-area{
        /* background-color: aqua; */
        text-align: center;
height: 149px;
    }
    .person-detail-area h1 ,h2{
text-align: center;
padding-inline-start: 10px;
}
.person-detail-area p{
    font-size: 35px;
}
.btn{
   font-size: 35px; 
   margin-top: 20px;
   border: none;
padding: 10px;
border-radius: 20px;
}





.social-media-link{
    /* background-color: greenyellow; */
padding: 10px 20px;
    height: 174px;
    margin-top: 1043px;
    text-align: center;
    /* padding-left: 15px; */
 display: flex;
 flex-direction: row;
}

.social-media-link a{
    text-decoration: none;
    font-size: 35px; 
    border-radius: 50%;
    /* background-color: red; */
    color:white;
    width: 103px;
    height: 103px;
}

.social-media-link img{
    width: 103px;
    height: 103px;
      margin: 5px; 
}

}