








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.left-nav a {
    text-decoration: none;
    color: white;
}

.middle-nav a {
    padding: 10px;
    font-size: 25px;
    
    text-decoration: none;
}

@media (max-width:900px) {



    body{
        overflow-x: hidden;
        background: linear-gradient(45deg, rgb(255, 41, 41), rgb(55, 55, 255));

    }
    html{
        overflow-x: hidden;

    }
    .nav-bar {
        /* background-color: red; */
       
    }

    /* ..................left nav...................... */


    .left-nav {
        padding: 25px;
        font-size: 25px;
    }


    /* ..................middle nav...................... */

    .middle-nav {
        display: none;
    }


    /* ..................right nav...................... */
    .right-nav {
        /* background-color: greenyellow; */
        padding: 5px;
    }

    .detail-icon {
        width: 54px;
        height: 54px;

    }


    .detail-icon img {
        width: 44px;
        height: 44px;

    }

    .close-icon {
        display: none;
    }













    .middle-Nav{
        position: absolute;
        top: 103px;
      left: 133px;
/* padding-top: 40px; */
   
    }
    .middle-Nav a{
        display: flex;
        font-size: 35px;
padding-top: 50px;
        flex-direction: column;
        color: white;

        text-decoration: none;
    }











    /* ...............main-area.............. --> */
  
  
  .main2{
    display: none;
    background-color: red;
  }
  
    .image-area{
        /* background-color: yellow; */

    }
  
  
  
  
  
  
    .image-border {
        /* background-color: yellow; */
        width: 271px;
        border-radius: 50%;
        height: 275px;
        margin: 15% 15%;
    }

    .image-border  img{
        width: 271px;
        border-radius: 50%;
        height: 275px;
   object-fit: contain;
    }















    .person-detail-area{
        /* background-color: aqua; */
        text-align: center;
height: 149px;

    }
    .person-detail-area h1 ,h2{
text-align: center;
padding-inline-start: 10px;
color: white;
}
.person-detail-area h2{
    color: black;
}
.btn{
   font-size: 35px; 
   margin-top: 20px;
   border: none;
padding: 10px;
border-radius: 20px;
}





.social-media-link{
    /* background-color: greenyellow; */
padding: 10px 20px;
    height: 174px;
    margin-top: 195px;
    text-align: center;
    /* padding-left: 15px; */
 display: flex;
 flex-direction: row;
}

.social-media-link a{
    text-decoration: none;
    font-size: 35px; 
    border-radius: 50%;
    /* background-color: red; */
    color:white;
    width: 103px;
    height: 103px;
}

.social-media-link img{
    width: 103px;
    height: 103px;
      margin: 5px; 
}






































/* ...................................................................... */
.projects-area{
    /* background-color: red; */

    width: 372px;

height:308vh;

}
.projects-area h1{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 0px 0px 10px 0px ;
}


.project-box{

    width: 362px;
    height:423px;
      background-color: black;
/* border: 2px solid wheat; */
display: flex;
flex-direction: column;
}
.project-img{
margin: 10px;
width: 336px;
/* border: 2px solid wheat; */

height: 305px;
border-radius: 20px;
/* background-color: pink; */
}

.project-img img{
    /* margin: 10px; */
    width: 336px;
    object-fit: cover;
    height: 305px;
    /* background-color: pink; */
    border-radius: 20px;
    
}
    


.link-area{
height: 133px;
margin-bottom:33px ;
    background-color:black;
padding: 12px 70px; 
display: flex;
justify-content: space-between;
}
.github-code img{
 width: 43px;
 background-color: white;
 border-radius: 30px;

}
.code{
    margin-left: 5px;
 color: white;
    font-size: 20px;
}
.hosted-link img{
    width: 43px;
border: 5px solid white;
    background-color: white;
border-radius: 30px;
    margin-left: 5px;

}
}